{% extends 'base.html' %} {% load my_tags %}
<!--  -->
{% block title %} {{dog.name}} {% endblock title %}
<!--  -->
<!--  -->
{% block content %}
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="card mb-3">
      <img
        src="{{ dog.photo | media_filter }}"
        class="card-img-top"
        alt="Фото собаки"
      />
      <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
        <p class="card-text">
          Порода: {{ object.breed }}
        </p>

          <p class="card-text">
          Дата рождения: {{ object.date_birth }}
        </p>

        <p class="card-text">
            <a href="{% url 'dog_list' %}"  class="text-body-secondary">Назад к списку</a>


        </p>
      </div>
    </div>
  </div>
</div>
<!--  -->
{% endblock content %}
